<template>
    <form>
        <div class="container">
            <h1>Add Note</h1>
            <p>Please fill in this form</p>
            <hr>

            <label for="notename"><b>Note Name</b></label>
            <input type="text" placeholder="name" name="ame" id="notename" v-model="noteName" required>

            <label for="detailnote"><b>Detail Note</b></label>
            <input type="text" placeholder="detail" name="detail" id="detailnote" v-model="detail" required>

            <label for="categoryname"><b>Category Note</b></label>
            <select v-model="categorytosave">
                <option value="">Select</option>
                <option v-for="item in categoryname" v-bind:key="item" :value="item.categorynotename">
                    {{item.categorynotename}}</option>
            </select>

            <label for="customername"><b>Customer</b></label>
            <select v-model="customertosave">
                <option value="">Select</option>
                <option v-for="item in customername" v-bind:key="item" :value="item.customername">
                    {{item.customername}}</option>
            </select>
            <hr>
            <input type="button" class="registerbtn" v-on:click="saveData" value="Save" />
        </div>
    </form>
    <div v-if="status" style="background: #84db84; height: 45px;">
        <center><label>{{status}}</label></center>
    </div>
</template>

<script>
import {HTTP} from '../axios';

export default {
    data() {
        return {
            categoryname: [],
            customername:[],
            customertosave:'',
            categorytosave: '',
            noteName: '',
            detail: '',
            dataForsave: {},
            optionAxios: {},
            status:'',
            errors: [],
        }
    },
    created() {
        HTTP.get(`/api/categorynote/search`).then((response) => {
            this.categoryname = response.data
        })

        HTTP.get(`/api/customernote/search`).then((response) => {
            this.customername = response.data
        })
    },
    methods: {
        saveData() {
            var datasend = {
                notename:this.noteName,
                detailnote:this.detail,
                categorynote:this.categorytosave,
                customernote:this.customertosave
            }
            console.log(this.dataForsave)

            HTTP.post("/api/note/createnote", datasend).then((response)=>{
                this.status = response.data.message;
            })
        }
    }
}
</script>

<style>
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus{
  background-color: rgb(226, 226, 226);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}
</style>