<template>
    <form>
        <div class="container">
            <h1>Add Customer</h1>
            <p>Please fill in this form</p>
            <hr>

            <label for="customer"><b>Customer Name</b></label>
            <input type="text" placeholder="name" name="name" id="customer" v-model="customername" required>

            <hr>
            <input type="button" class="registerbtn" v-on:click="saveData" value="Save"/>
        </div>
    </form>
    <div v-if="status" style="background: #84db84; height: 45px;"><center><label>{{status}}</label></center></div>
</template>

<script>
import {HTTP} from '../axios';

export default {
    data() {
        return {
            categorydetail: [],
            errors: [],
            customername: '',
            status:''
        }
    },
    methods: {
        saveData() {
            var datasend = {
                customername:this.customername
            }
            console.log(this.dataForsave)

            HTTP.post("/api/customernote/create", datasend).then((response)=>{
                this.status = response.data.message;
            })
        }
    }
}
</script>

<style>
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus{
  background-color: rgb(226, 226, 226);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}
</style>