<template>
<div class="container">
<div>
        <h1>History Note</h1>
    </div>
    <div>
        <table>
            <tr>
                <th>Note name</th>
                <th>Detail note</th>
                <th>Date</th>
                <th>Category Note</th>
                <th>Customer</th>
            </tr>
            <tr v-for="item in customer" v-bind:key="item">
                <td>{{ item.noteid.notename }}</td>
                <td>{{ item.noteid.detailnote }}</td>
                <td>{{ item.noteid.createdate }}</td>
                <td>{{ item.noteid.categorynote }}</td>
                <td>{{ item.noteid.customernote }}</td>
            </tr>
        </table>
    </div>
</div>
</template>

<script>
import {HTTP} from '../axios';

export default {
    data() {
        return {
            customer: [],
            errors: []
        }
    },
    async created() {
        try {
            const response = await HTTP.get(`/api/historynote/search`)
            this.customer = response.data
            console.log(this.customer)
        } catch (e) {
            this.errors.push(e)
        }
    }
}
</script>

<style>
.container:fullscreen {
  padding: 16px;
  background-color: white;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
</style>