<template>
  <div class="row">
    <div class="left" style="background-color:#bbb;">
      <h2>Menu</h2>
      <ul id="myMenu">
        <li>
          <router-link to="/">History</router-link>
        </li>
        <li>
          <router-link to="/add">Add note</router-link>
        </li>
        <li>
          <router-link to="/customer">Customer</router-link>
        </li>
      </ul>
    </div>
    <div class="right">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #BEBEBE;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 10%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 90%;
  padding: 15px;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
}

#myMenu li a:hover {
  background-color: #eee;
}
</style>